<template>
  <div class="About">
  <body class="text-center">
    <div class=" d-flex w-100 p-3 mx-auto flex-column">
      <Navbar/>
 
    <main role="main">
      <div class="jumbotron" id="jumbo">
        <div class="container">
          <h1 class="display-3">Proiectele mele</h1>
          <p>Aici sunt proiectele mele personale, atât de la facultate cât și cele din timpul liber. Feel free to explore.</p>
          <p><a class="btn btn-primary btn-lg" href="https://www.github.com/alexxglo" role="button">Github &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Vue.js Website</h2>
            <p>Acest site este, de fapt, un proiect in sine. Bazat pe framework-ul Vue.js, este o cale de a îmi încerca cunoștințele în web. </p>
            <p><a class="btn btn-secondary" @click="popUp" role="button">Detalii &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Medical System</h2>
            <p>Folosind Java, am creat o aplicație ce simulează funcționalitățile necesare unui spital pentru a avea o mai buna organizare.</p>
            <p><a class="btn btn-secondary" href="https://github.com/alexxglo/Medical-System" role="button">Detalii &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Sub-dialects</h2>
            <p>Proiect de inteligență artificială, în care foloseam date de antrenare pentru a clasifica propozițiile dintre 2 limbi asemănătoare.</p>
            <p><a class="btn btn-secondary" href="https://github.com/alexxglo/Romanian-Sub-dialect-Identification-AI-" role="button">Detalii &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div>

    </main>

    <footer class="container">
      <p>To be continued</p>
    </footer>

  </div>

    
  </body>
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue'
export default {
  name: 'About',
  components: {Navbar},
  methods: {
    popUp: function (){
      alert("Acesta este proiectul. Inca nu este pe github :(");
    }
  }
}
</script>

<style scoped>

#jumbo{
  margin-top: 5px;
  background-color:inherit;
}

a {
  text-decoration:none;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

html,body {
  min-height: 100vh;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

.cover-container {
  max-width: 42em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 20em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}
</style>