<template>
  
  <div class="Home">
  
  <body class="text-center">
    <div class=" d-flex w-100 p-3 mx-auto flex-column">
  <div class="mb-auto">
  <Navbar/></div>
  <main role="main" class="inner cover">
  
    <h1 class="cover-heading">Bine ai venit pe webuiala mea</h1>
    <p class="lead">Acest site este work in progress. &#x2692;</p>
    <p class="lead">
      <a  class="btn btn-lg btn-secondary bg-dark"><router-link to="/about">Mai multe</router-link></a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Always available on <a href="https://instagram.com/alexxglo">Instagram</a>.</p>
    </div>
  </footer>

</div>
</body>


  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue'
export default {
  name: 'Home',
  components: {Navbar}
}
</script>

<style scoped>
 
 a {
   text-decoration:none;
   }

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

html,body {
  min-height: 100vh;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

.cover-container {
  max-width: 42em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 20em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

</style>
