<template>
  <div class="MyInfo">
    <body class="text-center">
        <div class=" d-flex w-100 p-3 mx-auto flex-column">
    <Navbar/>
    <div class="banner-breadcum section">
    <div class="row">       
            <div class="breadcrumb-image">
            
        <div class="container text-center">
            <h1>Despre mine</h1>
                <div class="breadcrumbs_path">
                    <h5>mici detalii din viața mea</h5>
                </div>      
        </div>
    </div>
        </div>
    </div>

    


    <section class="post-content-section">
    <div class="container">

        <div class="row">
            
            <div class="col-lg-8 col-md-8 col-sm-12" id="blocktext">
                <p class="lead">Nu prea știu ce ar trebui să scriu aici, în principal am crezut că o pagină "despre mine" ar da bine pe website. Adevărul
                este că nu știu ce cere acest lucru, așa că o să pun lucruri pe care le-am considerat interesante.</p>
                 
<p>Constănțean prin natură, bucureștean prin alegere.  Sunt student la Universitatea din București la <a href="https://fmi.unibuc.ro/">Facultatea de Matematică și Informatică</a>, anul 3.</p>
                <blockquote>
  <p> Fac parte din <a href="https://www.facebook.com/asmi.ub/">Asociația Studenților la Matematică si Informatică</a>, în cadrul departamentului de Design & PR. Photoshop, Illustrator, editari video, you name it.
        </p>
</blockquote>
                <p>Sunt pasionat de orice ține de programare, îmi place să învăț lucruri noi. În acest moment, explorez partea de frontend.
                Acest website e rezultat din încercările mele de a crea o pagină folosind Vue.js.</p>
               <blockquote>
  <p>În timpul liber îmi place să fac sport, atât singur cât și în jocuri de echipă precum baschetul. Mă poți găsi în majoritatea timpului 
  cu muzică în căști și dacă ai vreo recomandare, sunt mereu în căutare de noi melodii.</p> 
  
</blockquote>


             </div>
            <div class="col-lg-4  col-md-4 col-sm-12" id="right-banner">
                
               
                <div class="list-group">
                    <a class="list-group-item"> <h4 class="list-group-item-heading">Educație</h4>
                     <a id="bulletpoint">• Colegiul Național Mircea cel Bătrân, Constanța</a><br> 
                     <a id="bulletpoint">• Facultatea de Matematică și Informatică, Universitatea București</a><br> 
                     
                     </a>

                    <a class="list-group-item"> <h4 class="list-group-item-heading">Skills</h4> 
                     <a id="bulletpoint">• C/C++</a><br> 
                     <a id="bulletpoint">• Java</a><br> 
                     <a id="bulletpoint">• jQuery, Javascript</a> <br>
                     <a id="bulletpoint">• Photoshop, Illustrator</a><br>
                    
                    </a>
                    <a class="list-group-item"> <h4 class="list-group-item-heading">Volunteering</h4>
                     <a id="bulletpoint">• Voluntar @ASMI</a><br> 
                     <a id="bulletpoint">• Dansator @Florile Dobrogei</a><br> 
                     <a id="bulletpoint">• Jucător baschet @CS Phoenix CT</a> <br>
                     <a id="bulletpoint">• Voluntar @Neversea</a><br>
                    
                    </a> </div>
               
            </div>
        </div>
      

    </div>
</section>

    </div>
    </body>

    </div>
  
</template>

<script>
import Navbar from '../components/Navbar'
    export default {
    name: 'MyInfo',
    components: {Navbar}
    }
</script>

<style scoped>
 a {
    text-decoration:none;
    font-weight: bold;
    }
    a,
    a:focus,
    a:hover {
    color: #fff;
    }

    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
    }

    html,body {
    min-height: 100vh;
    background-color: #333;
    }

    body {
    display: -ms-flexbox;
    
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    
    }

    .masthead {
    margin-bottom: 2rem;
    }

    .masthead-brand {
    margin-bottom: 0;
    }

    .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
    }

    .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
    }

     @media (min-width: 20em) {
     .masthead-brand {
         float: left;
     }
    
    .nav-masthead {
        float: right;
    }
    }



    .banner-breadcum {
        display:block !important;
        margin-top: 5px;

    }
    .breadcrumb-image {
        background-image: url("../assets/aly_background2.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0 170px;
        position: relative;
        width:100%;
        
        
    }
 
    .breadcrumb-image::before {
        background: rgba(0, 0, 0, 0.80) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
    .breadcrumb-image h1 {
        color: #ffffff;
        font-size: 80px;
        font-weight: 600;
        line-height: 40px;
        position: relative;
        text-transform: uppercase;
    }
    .breadcrumbs_path {
        color: #fff;
        margin-top: 8px;
        position: relative;
        z-index: 9;
    }
    .breadcrumbs_path > a {
        color: #fff;
        transition: all 0.3s ease 0s;
    }
    h5 {
        margin-top:3%;
    }
    h4 {
        color:#333;
    }
    h6 {
        color:gray;
    }

    #blocktext {
        margin-top:3%;
    }

    #quote {
        font-style: italic;
    }
    li {
        color:#333;
        text-align:center;
        float:center;
    }

    #bulletpoint {
        text-align:center;
        float:center;
        color:#333;
        
    }
    #right-banner{
        margin-top:2%;
    }
</style>
