<template>
    <div>
    <header class="masthead mb-auto">  
    <div class="inner">
      <div class="masthead-brand mr-3"><Sidebar/></div> 
      <h3 class="masthead-brand"><router-link to="/" >Aly</router-link></h3>
      <nav class="nav nav-masthead justify-content-center">
        <a :class="[currentPage.localeCompare('/') ? '': activeClass,'nav-link' ]">
      <router-link to="/">Acasă</router-link></a>
       <a :class="[currentPage.localeCompare('/about') ? '': activeClass,'nav-link' ]"> 
           <router-link to="/about">Proiecte</router-link></a>
        <a :class="[currentPage.localeCompare('/myinfo') ? '': activeClass,'nav-link' ]">
            <router-link to="/myinfo">Despre mine</router-link></a>
      </nav>
    </div>
  </header>
    </div>
</template>

<script>
import Sidebar from './Sidebar.vue'
export default {
    data: function () {
        return {
            isActive: 'true',
            notActive: 'false',
            activeClass: 'active'
        }
    },
    computed: {
        currentPage() {
            console.log(this.$route.path);
            return this.$route.path;
        }
    },
    name: 'Navbar',
    components: {Sidebar}
}
</script>

<style scoped>


  a {
   text-decoration:none;
   }

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

html,body {
  min-height: 100vh;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

.cover-container {
  max-width: 42em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 21em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
  
}

@media (max-width: 20.99em) {
  .masthead-brand {
    float: left;
    margin-left: 15%;
  }
  .nav-masthead {
    float: right;
    margin-right: 10%;
  }
}


.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}


</style>