<template>
  <div>
    <b-button v-b-toggle.sidebar-1 id="btnn">&#9776;</b-button>
    <b-sidebar id="sidebar-1" title="Meniu" shadow>
      <div class="px-3 py-2">
        <h4><router-link to="/" class="routerlink">Acasă</router-link></h4>
        <h4><router-link to="/about" class="routerlink">Proiecte</router-link></h4>
        <h4><router-link to="/myinfo" class="routerlink">Despre mine</router-link></h4>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>

<style scoped>
#btnn {
  width:100%;
  height:25%;
}
h4 {
  text-align:left;
  text-decoration:none; 
}

a {
  text-decoration:none;
  color:inherit;
}

.routerlink {
  color:#463F3F;
}
.button {
  padding:1% !important;
}

.btn-secondary {
  background-color: #333 !important;
}
</style>